html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding: 10px;
}

h1, h2, p {
    font-size: 35px;
}

.bold-text {
    font-weight: 900;
}

/* Header */
header {
    padding: 30px 15px;
    border-bottom: 2px solid black;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-logo {
    width: 380px;
    height: auto;
}

.avatar-img {
    width: 150px;
    height: auto;
    border-radius: 100px;
}

/* Post */
.poster-flex {
    margin: 25px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.post-img img {
    width: 100%;
    height: auto;
}
 /* Interact */
.icon-resize {
    width: 100px;
    height: auto;
    margin: 20px 25px 20px;
}

.heart-icon {
    background-color: lightcoral;
    box-shadow: 5px 5px 5px red;
}

.comment-icon {
    background-color: lightblue;
    box-shadow: 5px 5px 5px aquamarine;
}

.dm-icon {
    background-color: lightgreen;
    box-shadow: 5px 5px 5px yellowgreen;
}

.icon-button {
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    /*box-shadow: 10px 5px 5px blue;*/
    transition: .3s ease-in-out;
}

.icon-button:hover {
    transform: scale(1.1);
    opacity: .7;
}